
<link rel="stylesheet" type="text/css" href="<link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
<style type="text/css">
	html{
		height:100%;
	}
	body{
		height:100%;
		/*background:linear-gradient(#e6f5ff,#ccebff,#b3e0ff,#99d6ff); */

	}
	img{
		border-radius:50%;
		margin-left:10px;
		margin-top:10px;
		display:inline-block;
    height: 210px;
    width:200px;

	}
	#sports{
		/*margin-left:370px; */
		background-color:#004a80;
		width:500px;
		height:500px;
		overflow:scroll;
		display:inline-block;

	}

	h1{
		display: inline-block;
		font-family:'Yellowtail', cursive;
		padding-left:100px;
		font-size:40px;
		color:white;
	}
	a{
		display:inline-block;
		margin-left:1000px;
		font-family:'Yellowtail', cursive;
		text-decoration:none;
		font-size:20px;
		color:white;
	}
	#header{
		background-color:#004a80;
		margin-bottom:15px;

	}
	#new_div{
		display:inline-block;
		margin-left:900px;
		/*margin-bottom:900px; */
	}
	#large{
		display:inline-block;
		position:relative;
		bottom:400px;
	}
</style>
<div id="header">
	<h1><%= @category.category %></h1>
	<a href="/crate/show/">Go back</a>
</div>
<script type="text/javascript">

  $(document).ready(function(){
      $('.photo').on('click', function(){
        var id = $(this).attr("id");
        $.get('/crate/find/' + id, function(response)
        {
          console.log(response);
          var description = "";
          description += "<h3>" + response.description + "</h3>"
          var title = "";
          title += "<h2>" + response.title + "</h2>"
          $('#description').html(description);
          $('#title').html(title);
        });
          $('#large').attr('src', $(this).attr('src'));
      })


  })

</script>
<div id="sports">
	<% @photo.each do |photo|  %>
	<img id="<%= photo.id %>" class= "photo" src="<%= photo.avatar.url(:large)%>">
  <%end%>
</div>

<div id="new_div">
	<img id="large" src="">
	<p id="description"></p>
</div>
