<header>
  <img src="" alt="" />
  <form action="/sessions" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>Email:
		<input type="email" name="email">
    </label>
	</p>
	<p>
		<label>Password:
		<input type="password" name="password">
    </label>
	</p>
	<p>
	<input type="submit" value="Log In">
</form>
</header>
<fieldset>
    <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p> <%= e %> </p>
    <% end %>
  <% end %>
<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>First Name:
		<input type="text" name="user[first_name]">
    </label>
	</p>
  <p>
    <label> last Name:
      <input type="text" name="user[last_name]">
    </label>
  </p>
  <p>
    <label> Email:
      <input type="email" name="user[email]">
    </label>
  </p>
	<p>
		<label>Password:
		<input type="password" name="user[password]">
    </label>
	</p>
<p>*Password should be at least 8 characters</p>
  <p>
    <label>Password Confirmation
    <input type="password" name="user[password_confirmation]" id="Password Confirmation">
    </label>
  </p>
  <p>
    <label>Description of yourself:
    <input type="text" name="user[description]">
    </label>
  </p>
	<input type="submit" value="Register">
</fieldset>
</form>
