

<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Raleway" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="/assests/stylesheets/crate.scss"> -->

<style type="text/css">

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}







 #log_in p{
  display:inline-block;
  font-family:'Raleway', sans-serif ;


 }
 #log_in{
  margin-left:75%;
  display:inline-block;
  /*border:1px solid black;*/
  /*width:700px; */
 }
h3{
  text-align:right;
  position:relative;
  left:40px; 
  /*font-size:10px;*/
  /*padding-left:200px; */
  font-family:'Raleway', sans-serif ;
}

h1{
  /*text-align:left;*/
  display:inline-block;
  font-family:'Bungee Shade', cursive ;
  font-size:50px;
  margin-left:60px; 
  /*background-color:red; */
}

button{
 margin-left:170px;
/*vertical-align:center; */
 width:90px;
 display:inline-block;
 font-family:'Raleway', sans-serif ;'
 font-weight:bold;

}



textarea{
  width:450px;
  display:inline-block;
}

#register{
  width:200px;
  height:500px; 
  font-family:'Raleway', sans-serif ; 
  padding-left:10px; 
  font-weight:bold; 
margin-right:0px; 

}
#transparent{
  margin-left:auto; 
  width:500px;
  height:600px; 
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;

}
}



</style>



<header id="log_in">
  <img src="" alt="" />

  <% if flash[:shake] %>
  <script type="text/javascript">
      $(document).ready(function(){
        $("#login").effect("shake");
      });
  </script>
  <%end%>
<h1>Aperture</h1>
  <form id="login" action="/sessions" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label >Email:
		<input type="email" name="email">
    </label>
	</p>
	<p>
		<label>Password:
		<input type="password" name="password">
    </label>
	</p>
	<p>
	<input type="submit" value="Log In">
</form>
</header>


<div id="transparent">
    <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p> <%= e %> </p>
    <% end %>
  <% end %>
<div id="register">
<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<h3>Sign Up</h3>
<p>
		<label>First Name:
		<input type="text" name="user[first_name]" placeholder="First Name">
    </label>
</p>
    <p>
    <label> Last Name:
      <input type="text" name="user[last_name]" placeholder="Last Name">
    </label>
    </p>
  <p>
    <label id="mail"> Email:<br>
      <input id="email" type="email" name="user[email]" placeholder="Email">
    </label>
  </p>

<h4>*Password should be at least 8 characters</h4>
    <label>Password:
    <input type="password" name="user[password]" placeholder="Password">
    </label><br>


    <label>Password Confirmation:
    <input type="password" name="user[password_confirmation]" id="Password Confirmation" placeholder="Confirm Password">
    </label>

  <p>
    <label>Description of yourself:
    </label>
  </p>

  <textarea name="user[description]" placeholder=" Do tell...."></textarea>
	<button>Sign up!</button>

</form>
</div>

</div>
