

#new_div{

		display:inline-block;
		height: 500px;
		width: 400px;
		background-image: image-url("frameFashion.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		/*margin: auto;*/
		margin-left: 370px;

		/*margin-bottom: 100px;*/
		position: absolute;
		right: 600px;
		margin-top: 50px;
}


		/*margin-left:900px;*/
		/*margin-top: auto;
		margin-bottom: auto;*/
		/*position: relative;
		right: 230px;
		bottom: 480px;*/









